body{
    background-color: lightyellow;
}
p {
  width: 400px;
  margin-bottom: 0.2rem;
}
.validation {
  display: inline;
  font-size: 0.8rem;
  color: red;
  margin: 0.1rem;
}
input[type=date] {
  width: 400px;
  margin-bottom: 0.1rem;
}
input[type=number] {
  width: 185px;
  margin-bottom: 1.5rem;
  margin: 0.2rem;
}
input[type=text] {
  margin: 0.1rem;
  width: 400px;
}
input[type=email] {
  margin: 0.1rem;
  width: 400px;
}
.btn-primary {
  transform: translateX(120%);
  margin: 0.2rem;
}
.btn-link {
  margin-left: 200px;
}
